html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.header {
  box-shadow: none;
}

.section {
  height: 100vh;
  display: flex;
  justify-content: center;
  padding-top: 130px;
  background-color: var(--bg);
  background-repeat: no-repeat; 
  background-position: left bottom;
}



.div-contact{
  border-radius: 30px; 
  height: 100%; 
  width: 70%;  
  box-shadow: 1px 10px 10px rgba(0, 0, 0, 0.3); 
  padding: 2rem;
}

#id_numero.phone-input{
  padding-left: 1rem !important;
}


/* Conteneur général du champ téléphone */
/* .phone-wrapper {
  display: flex;
  align-items: center;
  width: 100%;
} */

/* intl-tel-input prend toute la largeur disponible */
.intl-tel-input {
  width: 100%;
}

/* Ajuster l’input pour éviter les débordements */
input[type="tel"] {
  width: 100%;
  font-size: 1rem;
  box-sizing: border-box;
}

.iti--separate-dial-code .iti__selected-flag {
  width: 100%;
  display: flex;
  height: 100%;
  align-items: center;
  padding: 5px;
}

/* Style spécifique quand separateDialCode est activé */
.intl-tel-input.separate-dial-code input[type="tel"] {
  padding-left: 80px !important; /* Ajuste en fonction de la largeur du code */
}


/* Conteneur du drapeau interactif */
.iti__flag-container {
  cursor: pointer;
  position: relative;
  z-index: 1000 !important;
}

/* Liste déroulante des pays */
.iti__country-list {
  z-index: 10000 !important;
  position: absolute;
  background-color: white;
  border: 1px solid #ccc;
  border-color:  #00c8d7;
  border-radius: 6px;
  max-height: 300px;
  overflow-y: auto;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.iti__country-list::-webkit-scrollbar {
  width: 10px !important; /* Épaisseur de la scrollbar (verticale) */
}

.iti__country-list::-webkit-scrollbar-thumb {
  background-image: linear-gradient(135deg, #00c8d7, #0078ff) !important;
  border-radius: 0 !important;
}

.iti__country-list::-webkit-scrollbar-track {
  background-color: rgba(0, 200, 215, 0.1) !important; /* Couleur du fond */
}

/* ------------------------------- Style purement estetique ------------------------------- */

.iti--separate-dial-code .iti__selected-flag {
  background: #ffffff;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-color:  #00c8d7;
  border-radius: 6px;
}

.iti__divider{
  height: 1rem;
  /* background-color: #00c8d7; */
}

/* Drapeau et indicatif */
.intl-tel-input .selected-flag {
  background-color: white;
  border-right: 1px solid #ccc;
  padding: 0 10px;
  height: 100%;
}

/* Style des options de pays */
.iti__country {
  padding: 5px 10px;
  cursor: pointer;
}

.iti__country:hover {
  background-color: #f0f0f0;
}

/* Style général du champ input */
/* .phone-input {
  flex: 1;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
} */

.iti {
    position: relative;
    display: flex;
    width: 100%;
    gap: .5rem;
    z-index: 10001 !important;
  }

form input{
  font-size: 1rem;
}

@media screen and (max-width: 1024px) {
  .div-contact {
    width: 100%;
  }
}

@media screen and (max-width: 1024px) {
  .iti {
    flex-direction: column;
  }
}

@media screen and (max-width: 983px) {
    .section {
        background-image: None !important;
    }
}
@media screen and (max-width: 1024px) {
    .section {
        background-size: 30rem;
    }
}

@media screen and (max-width: 1440px) {
    .section {
        background-size: 35rem;
    }
}

@media screen and (max-width: 375px) {
  .section h2{
    font-size: 2.7rem;
    margin-bottom: 2rem; 
  }
}