/* Import de police tech */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@font-face {
  font-family: 'Ethnocentric';
  src: url('/static/fonts/ethnocentric-rg.otf') format('opentype'), 
      url('/static/fonts/ethnocentric-rg-it.otf') format('opentype');
}

:root {
  --primary: #00c8d7;
  --secondary: #0078ff;
  --bg: #F5F6FA;
  --text: #0d0f17;
  --accent: #13f3ff;
  --gradient: linear-gradient(135deg, #00c8d7, #0078ff);
  --text-serv:#062853;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--bg);
  color: var(--text);
  scroll-behavior: smooth;
}

/* Header */
.header {
  position: fixed;
  width: 100%;
  background-color: var(--bg);
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.div-logo {
  width: 100px;
  height: 100%;
}

.img-logo {
  width: 75%;
  height: 75%;
}

.nav{
  flex-direction: row;
  gap: 1rem;
}

.nav a {
  /* margin-left: 24px; */
  color: var(--text);
  text-decoration: none;
  transition: color 0.3s ease;
  display: flex;
  font-size: 1.1rem;
}

.nav a:hover {
  color: var(--accent);
}

/* Bouton pour ouvrir le menu */
.menu-toggle {
  display: none;
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

/* Hero */
.hero {
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 100px 20px;
  background-color: var(--bg);
}

#bg-video {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
  z-index: -1;
  filter: brightness(0.4);
}

.hero-content h1 {
  font-size: 4rem;
  background: var(--gradient);
  -webkit-background-clip: text;
  color: transparent;
  text-align: center; 
  font-family: 'Ethnocentric', sans-serif;
}

.hero-content p {
  margin-top: 1rem;
  font-size: 1.2rem;
  color: var(--text);
  text-align: center;
}

/* Section standard */
.section {
  padding: 10% 10%;
  background-color: var(--bg);
}

.section h2 {
  text-align: center;
  font-size: 2.8rem;
  margin-bottom: 3.75rem;
  background: var(--gradient);
  -webkit-background-clip: text;
  color: transparent;
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: bold;
}

.section h3 {
  text-align: relative;
  font-size: 2rem;
  margin-bottom: 30px;
  /* background: var(--gradient);
  -webkit-background-clip: text;
  color: transparent; */
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 800;
  color: var(--text-serv);
}

.section p {
  margin-top: 1rem;
  font-size: 1.1rem;
  color: var(--text);
  text-align: justify;
}

/* Grids */
/* .grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
}

.card {
  background: rgba(255, 255, 255, 0.03);
  border: 1px solid rgba(255, 255, 255, 0.1);
  padding: 20px;
  border-radius: 12px;
  text-align: center;
  transition: transform 0.3s ease;
}

.card:hover {
  transform: translateY(-10px);
  border-color: var(--accent);
} */

/* Réalisations */
/* .project-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}

.project {
  width: 300px;
  background: rgba(255, 255, 255, 0.03);
  padding: 16px;
  border-radius: 10px;
  text-align: center;
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.project img {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 10px;
} */

/* Formulaire */
form {
  max-width: 600px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

form input,
form textarea {
  padding: 12px;
  background: #ffffff;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-color:  #00c8d7;
  border-radius: 6px;
  color: var(--text);
}

form button {
  padding: 12px;
  background: var(--gradient);
  border: none;
  border-radius: 8px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s ease;
}

form button:hover {
  background: linear-gradient(135deg, #00d6ff, #005fff);
}

/* Footer */
footer {
  padding: 40px 10%;
  text-align: center;
  background-color: #0b0d13;
  color: #888;
}

#map {
  width: 100%;
  height: 300px;
  margin-bottom: 20px;
  border-radius: 8px;
  background-color: #1f2230;
}

/* ------------------------------------------------------------------------------------------------------------- */

/* Partie services */

/* Styles pour le laptop */

#services {
  position: relative;
  height: 100vh !important; /* La section prend toute la hauteur de la fenêtre */
  
}

.disposition_about{
  align-items: center;
  justify-content: center;
  display: flex;
  height: 100%;
  width: 100%;
}

.disposition_services{
  align-items: center;
  justify-content: center;
  display: flex;
  height: 90%;
  width: 100%;
}

.grid_ordi {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    grid-template-rows: auto;
    margin-top: 100px;
 }

 .grid_about {
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  grid-template-rows: auto;
  margin-top: 100px;
  gap: 20px;
}

.txt_about {
  text-align: center;
  padding: 0 30px
}

#txt_services {
  grid-column : 1;
  padding-right: 100px;
}

.ordi_container {
  position: relative;
  z-index: 3; /* Contenu au-dessus des deux couches */
  display: flex;
  justify-content: center;
  grid-column : 2
}

.mockup {
  display: inline-block;
  position: relative;
  z-index: 3;
  text-align: center;
  font-size: 0;
  perspective: 2400px;
  perspective-origin: 50% 100%;
  opacity: 0;
  transition: 500ms opacity;
}

.mockup.loaded {
  opacity: 1;
}

.mockup .part .top,
.mockup .part .bottom {
  position: absolute;
  top: 0;
  left: 0;
}

.mockup .part.top {
  transform: translate3d(0, 0, 0) rotateX(-90deg);
}

.mockup.active .part.top {
  transform: translate3d(0, 0, 0) rotateX(0deg);
}

.mockup .part {
  display: inline-block;
  position: relative;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  transform-origin: 50% 100%;
  transition: 1500ms;
}

.mockup.opened .part .top {
  transform: translate3d(0, 0, -11px) rotateX(90deg) scale(1, 1);
}

.mockup .part .top {
  transform-origin: 50% 0;
  transform: translate3d(0, 0, -11px) rotateX(90deg);
  transition: 900ms;
}

.part.top {
  position: relative;
  z-index: 5;
}

.mockup img {
  display: block;
  max-width: 100%;
  backface-visibility: hidden;
}

.mockup .part .cover {
  position: relative;
}

.mockup .part.bottom {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate3d(0, 0, 0) rotateX(-90deg);
}

.mockup .part .bottom {
    transform-origin: 50% 0;
    transform: translate3d(0,0,0) rotateX(90deg);
}

.img-laptop { 
    display: block;
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
    border-radius: 4px;
    backface-visibility: hidden;
    transform: translate3d(0, 0, 1px);
    overflow: hidden;
}


/* Partie Valeurs */

.bubbles-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  max-width: 1000px;
  margin: auto;
  position: relative;
}

.bubble svg {
  width: 100%;
  height: auto;
  display: block;
}

.bubbles-grid:hover .bubble {
  opacity: 0;
}

.bubble:hover {
  opacity: 1 !important;
  z-index: 2;
}

.bubbles-grid,
.bubble {
  overflow: visible;
}

.bubble:hover svg .bubble-background-left {
  transform: translateX(300px);
  transition: transform 0.4s ease;
}

.bubble:hover svg .bubble-background-right {
  transform: translateX(-300px);
  transition: transform 0.4s ease;
}

.txt-bubble-style{
  font-size: 1.5rem !important;
  text-align: center !important;
}

.txt-bubble-serieux {
  display: flex;
  position: absolute; 
  top: 0px; 
  left: 60%; 
  width: 150px;
  height: 150px;
  text-align: center;
  align-items: center;
  justify-content: center;
  opacity: 0;
}

.txt-bubble-savoir-faire {
  display: flex;
  position: absolute; 
  top: 0px; 
  left: 10%; 
  width: 150px;
  height: 150px;
  text-align: center;
  align-items: center;
  justify-content: center;
  opacity: 0;
}

.txt-bubble-bienveillance {
  display: flex;
  position: absolute; 
  top: 50%; 
  left: 60%; 
  width: 150px;
  height: 150px;
  text-align: center;
  align-items: center;
  justify-content: center;
  opacity: 0;
}

.txt-bubble-prudence {
  display: flex;
  position: absolute; 
  top: 50%; 
  left: 10%; 
  width: 150px;
  height: 150px;
  text-align: center;
  align-items: center;
  justify-content: center;
  opacity: 0;
}

#bubble-serieux:hover .txt-bubble-serieux,
#bubble-savoir-faire:hover .txt-bubble-savoir-faire,
#bubble-bienveillance:hover .txt-bubble-bienveillance,
#bubble-prudence:hover .txt-bubble-prudence {
  opacity: 1;
  transition: opacity 0.8s ease;
}

.txt-bubble-serieux,
.txt-bubble-savoir-faire,
.txt-bubble-bienveillance,
.txt-bubble-prudence {
  pointer-events: none;
}

.responsive_valeurs #serieux-gradient {
  text-align: center;
  background: linear-gradient( 135deg, #9B1D20, #F65A5B);
  -webkit-background-clip: text;
  color: transparent;
}

.responsive_valeurs #savoir-faire-gradient {
  text-align: center;
  background: linear-gradient( 135deg, #003366, #00BCD4);
  -webkit-background-clip: text;
  color: transparent;
}

.responsive_valeurs #bienveillance-gradient {
  text-align: center;
  background: linear-gradient( 135deg, #40E0D0, #ADD8E6);
  -webkit-background-clip: text;
  color: transparent;
}

.responsive_valeurs #prudence-gradient {
  text-align: center;
  background: linear-gradient( 135deg, #FFD961 0%, #FE8729 50%, #FF7272 100%);
  -webkit-background-clip: text;
  color: transparent;
}

.responsive_valeurs {
  display: none;
}

.responsive_valeurs p {
  font-size: 1rem;
  margin-bottom: 2rem;
}

/* Partie incitation */

.incitation {
  display: grid; 
  grid-template-columns: 1.5fr .5fr; 
  background-color: #0B1E36; 
  padding: 50px 10%;
}

.incitation-txt {
  color: #A3D9DD; 
  font-size: 2.8rem; 
  margin: 0;
  justify-content: left;
  display: flex;
  padding: 0 1rem;
}

.incitation-div-btn {
  display: flex; 
  justify-content: center; 
  width: 100%; 
  height: 50%; 
  align-self: center;
}

.incitation-btn {
  color: white; 
  width: 100%;
  background: linear-gradient(135deg, #00c8d7, #0078ff);
  border-radius: 8px;
  border: none;
  font-size: large;
  font-weight: 1000;
}

/* .carousel {
  position: relative;
  width: 100%;
  overflow: hidden;
} */

.custom-laptop-carousel-inner {
  /* display: flex; */
  width: 100%;
  transition: transform 1s ease;
  height: 100%;
}

.custom-laptop-carousel-item {
  width: 100%;
  flex-shrink: 0;
  height: 100%;
}

.custom-laptop-carousel-item img {
  width: 100%;
  display: block;
  height: 100%;
}

.formations-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr); 
  background-color:#ffffffda; 
  border-radius: 30px; 
  height: 100%; 
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
  padding: 20px;
}

.formations-item {
  display: grid;
  height: 100%;
  width: 100%;
  align-items: center;
  grid-template-rows: .5fr .5fr 1fr;
  padding: 10px;
}

.formations-item h3{
  font-size: 1.5rem;
  margin: 0;
}

.divider-h {
  background-color: #13f3ff;
  height: 80%;
  width: 1px;
  position: relative;
  top: 10%;
  opacity: 0.3;
}

.divider-v {
  background-color: #0078ff;
  height: 2px;
  width: 60%;
  position: relative;
  left: 20%;
  opacity: 0.5;
  display: none;
}

.formations-disposition{
  display: grid;
  grid-template-columns: 1fr 1px;
}

.formations-title{
  text-align: center;
}

.formations-txt p{
  text-align: center;
}

.formations-img{
  justify-self: center;
  margin-bottom: 20px;
  text-align: center;
}

.formations-img img{
  width: 100%;
  height: 100%;
  justify-self: center;
}

/* .custom-content {
  height: 100%;
  min-height: 250px;
} */

.carousel-item > .custom-content {
  height: 250px;
  display: grid;
  grid-template-columns: .01fr 1fr;
  gap: 1rem
}

.bar {
  border-radius: 6px;
  width: 100%;
  background-color: #058CF8; 
  height: 100%;
}

.content {
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-rows: 0.3fr 1fr;
}

.top-row {
  display: grid;
  grid-template-columns: 0.1fr 1fr;
  height: 100%;
  width: 100%;
  gap:1rem;
}

.block {
  height: 100%;
  overflow: hidden;
}

.block img,
.controls-button-container img {
  height: 100% !important;
  width: 100% !important;
}

.block h3{
  padding: 1rem 1rem;
  margin: 0;
  text-align: left;
}

.bottom-row{
  padding: 1rem 0;
}

.controls-button-container {
  display: grid; 
  grid-template-columns: 1fr 1fr;
}

.slider-controls-grid{
  display: grid; 
  grid-template-columns: 1fr .4fr;
}

#carouselExampleControls{
  width: 60%;
  margin: 40px auto;
}

/* ------------------------------------------------------------------------------------------------------------- */

/* Styles pour le carrousel */
.game-section {
  background-color: var(--bg);
  padding: 100px 10%;
}

.game-section h2 {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 3.75rem;
  background: var(--gradient);
  -webkit-background-clip: text;
  color: transparent;
  font-family: 'IBM Plex Sans', sans-serif;
}

/* --------------------------------------------------------------------------------------- */

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc((-250px * 13) + (-50px * 13)));
  }
}

@keyframes scroll-reverse {
  0% {
    transform: translateX(calc((-250px * 13) + (-50px * 13)));
  }
  100% {
    transform: translateX(0);
  }
}

.slider {
  background: #F5F6FA;
  height: 150px;
  overflow: hidden;
  position: relative;
  width: 100%;
}


.slider::before, .slider::after {
  background: linear-gradient(to right, #F5F6FA 0%, rgba(255, 255, 255, 0) 100%);
  content: "";
  height: 150px;
  position: absolute;
  width: 200px;
  z-index: 2;
}

.slider::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}

.slider::before {
  left: 0;
  top: 0;
}

.slider .slide-track {
  animation: scroll 50s linear infinite;
  display: flex;
  width: calc((250px * 26) + (50px * 26));
  gap: 50px;
  height: 100%;
  will-change: transform;
}

.slider .slide-track-reverse {
  animation: scroll-reverse 50s linear infinite;
  display: flex;
  width: calc((250px * 26) + (50px * 26));
  gap: 50px;
  height: 100%;
  will-change: transform;
}

.slider .slide {
  height: 100%;
  width: 250px;
  padding: 20px 0%;
  filter: grayscale(100%);
}

.slide img {
  height: 100%;
  width: 100%;
  object-fit: scale-down;
}

.commentary-divider {
  display: grid;
  grid-template-columns: 2fr 2fr;
  gap: 20px;
  width: 100%;
  height: 100%;
}

.commentary-input-name{
  width: 100%;
  background-color: #ffffff;
  border-color:  #00c8d7;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  height: 2.5rem;
}

.commentary-input-comment{
  width: 100%;
  background-color: #ffffff;
  border-color:  #00c8d7;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  height: 5rem;
}

.btn{
  width: 120px;
  transition: background 1s ease;
  text-align: center;
  color: white;
}

.btn:hover {
  background: linear-gradient(135deg, #0078ff, #00c8d7); /* inversion du dégradé */
  color: white;
}

.card-comment-container {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  padding: 10px;
}

.card-comment-container::-webkit-scrollbar {
  width: 4px !important; /* Épaisseur de la scrollbar (verticale) */
}

.card-comment-container::-webkit-scrollbar-thumb {
  background-image: linear-gradient(135deg, #00c8d7, #0078ff) !important;
  border-radius: 0 !important;
}

.card-comment-container::-webkit-scrollbar-track {
  background-color: rgba(0, 200, 215, 0.1) !important; /* Couleur du fond */
}

.card-comment{
  border-radius: 8px;
  padding: 15px;
  margin-bottom: 50px;
  box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.3);
}

.name-card-comment{
  font-weight: bold;
  background: var(--gradient);
  -webkit-background-clip: text;
  color: transparent;
}

.comment-card-comment{
  font-size: 14px;
  color: #555;
}

.h2-425 {
  display: none;
}

.h2-base {
  display: block;
}

/* Div contenant "photo cartoon" */
#photo-cartoon {
  z-index: 2; /* Assurez-vous que cette valeur est inférieure à celle de .slider */
  position: absolute;
  top: 47%; 
  left: 50%; 
  width: 50%; 
  height: 70%; 
  pointer-events: none; 
  padding: 0;
}

#pourquoi-nous{ 
  background-repeat: no-repeat; 
  background-position: left bottom;
}

@media screen and (max-width: 1440px) {
  #pourquoi-nous{
    background-size: 35rem;
  }
}

@media screen and (max-width: 1340px) {
  .txt-bubble-size {
    font-size: 1.2rem !important;
  }
}

@media screen and (max-width: 1335px) {
  #photo-cartoon {
    top: 49%; 
  }
}

@media screen and (max-width: 1290px) {
  .formations-grid h3 {
    font-size: 1.5rem; 
  }

  .formations-grid p {
    font-size: .75rem; 
  }

  .formations-img img {
    width: 45px;
  }
}

@media screen and (max-width: 1260px) {
  .ordi_container {
    display: none;
  }

  #txt_services {
    padding-right: 0; 
  }

  .grid_ordi {
    display: flex;
    margin-top: 0;
  }
  
  #hidden-texts{
    display: block !important;
  }

  #changing-text{
    display: none;
  }

  .disposition_services{
    display: block;
  }

  #services {
    height: 100% !important;
  }

  .divider-v {
    display: block; 
  }

  /* .service-1sur2{
    background: #ebf6fe;
    margin-right: -1000px;
    padding-left: 1000px;
    padding-right: 1000px;
    margin-left: -1000px;
    padding-top: 10px;
  } */
}

@media screen and (max-width: 1248px) {
  .formations-grid {
    grid-template-columns: repeat(3, 1fr); 
  }

  #item3 .divider {
    display: none; 
  }
}

@media screen and (max-width: 1240px) {
  .txt-bubble-prudence {
    left: 0%;
  }
}

@media screen and (max-width: 1190px) {
  #photo-cartoon {
    top: 51%; 
  }
}

@media screen and (max-width: 1024px) {
  #photo-cartoon {
    top: 52%; 
    left: 52%;
    width: 48%;
  }

  .txt_about {
    padding: 0;
  }

  .formations-grid h3 {
    font-size: 1rem; 
  }

  .formations-grid p {
    font-size: .8rem; 
  }

  #pourquoi-nous {
        background-size: 30rem;
    }
}

@media screen and (max-width: 983px) {
  .incitation { 
    padding: 50px 5%;
  }

  .incitation-txt {
    font-size: 2rem; 
  }

  .incitation-div-btn {
    width: 100%; 
    height: 60%; 
  }
  
  .incitation-btn {
    font-size: smaller;
  }

  #pourquoi-nous {
        background-image: None !important;
    }
}

@media screen and (max-width: 960px) {
  #photo-cartoon {
    top: 54%; 
    left: 53%;
  }
}

@media screen and (max-width: 920px) {
  .commentary-divider {
    grid-template-columns: 2fr 1.3fr;
  }

  .slider-controls-grid{
    display: none; 
  }

  #slide-img{
    display: none; 
  }

  .top-row {
    display: block;
  }

  .bottom-row p{
    margin: 0;
    font-size: 1rem;
  }

  .bottom-row {
    padding: 0;
  }

  /* .block h3 {
    padding-top: 0;
  } */

  #carouselExampleControls{
    width: 100%;
    margin: 40px auto;
  }

  .custom-content {
    height: 100% !important;
    
  }
}

@media screen and (max-width: 882px) {
  .responsive_valeurs {
    display: block;
  }

  .bubbles-grid {
    display: none;
  }

  .grid_about {
    display: block;
  }

  .team-grid {
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  }

  .p_person {
    width: 100px;
  }

  .p_name {
    font-size: 1rem;
  }

  .p_container {
    transform: scale(0.28);
    height: 212px;
  }

  .p_title {
    text-align: center;
  }

  .nav {
    font-size: .74rem;
  }

  .p_divider {
    width: 100px;
  }
}

@media screen and (max-width: 850px) {
  #photo-cartoon {
    top: 55%; 
  }
}

@media screen and (max-width: 768px) {
  .h2-425 {
    display: block;
  }
  
  .h2-base {
    display: none;
  }

  .commentary-divider {
    display: grid;
    grid-template-rows: 1fr 1fr; /* deux rangées superposées */
    width: 100%;
    height: 100%;
    grid-template-columns: none;
    gap: 20px;
  }
  
  #commentary #div-comment-container {
    order: 1;
  }

  #commentary #div-comment-form {
    order: 2;
  }

  .card-comment-container {
    padding: 0;
  }

  .btn {
    width: 100%;
  }

  #photo-cartoon {
    display: none;
  }
}

@media screen and (max-width: 743px) {
  .nav {
    position: fixed;
    top: 0;
    left: -100%; /* Cache le menu hors de l'écran */
    height: 100%;
    width: 250px;
    background-color: var(--bg);
    flex-direction: column;
    gap: 16px;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
    transition: left 0.3s ease;
  }

  .nav.open {
    left: 0; /* Affiche le menu */
  }

  .menu-toggle {
    display: block; /* Affiche le bouton pour ouvrir le menu */
  }
}

@media screen and (max-width: 730px) {
  .formations-grid {
    grid-template-columns: repeat(2, 1fr); 
  }

  #item2 .divider-h,
  #item4 .divider-h {
    display: none; 
  }

  #item3 .divider-h {
    display: flex; 
  }
}

@media screen and (max-width: 475px) {
  .team-grid {
    grid-template-columns: repeat(2, minmax(120px, 1fr));
  }
}

@media screen and (max-width: 435px) {
  .formations-grid {
    grid-template-columns: repeat(1, 1fr); 
  }

  #item2 .divider-h,
  #item4 .divider-h,
  #item3 .divider-h,
  #item1 .divider-h,
  #item5 .divider-h {
    display: none; 
  }
}

@media screen and (max-width: 374px) {
  .team-grid {
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  }
}

/* @media (max-height: 800px) {
  .grid_ordi {
    display: block; 
  }
  .ordi_container {
    display: none;
  }
} */

/* Par défaut */
.item-desc {
  transform: translateY(calc(100% - 54px));
  transition: all 0.4s ease-in-out;
}

/* Si le titre est trop long */
.item-desc.high-title {
  transform: translateY(calc(100% - 65px)); /* Remonter davantage */
}

/* Mobile */
@media (max-width: 767px) {
  .game-section .item-desc {
    transform: translateY(calc(100% - 42px));
  }
  .game-section .item-desc.high-title {
    transform: translateY(calc(100% - 90px));
  }
}
