@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;600&display=swap');

.p_person {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 280px;
}
.p_container {
  border-radius: 50%;
  height: 312px;
  -webkit-tap-highlight-color: transparent;
  transform: scale(0.48);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 400px;
}
/* .p_container:after {
  background-color: #f2f2f2;
  content: "";
  height: 10px;
  position: absolute;
  top: 390px;
  width: 100%;
} */
.p_container:hover {
  transform: scale(0.54);
}
.p_container-inner {
  clip-path: path(
    "M 390,400 C 390,504.9341 304.9341,590 200,590 95.065898,590 10,504.9341 10,400 V 10 H 200 390 Z"
  );
  position: relative;
  transform-origin: 50%;
  top: -200px;
}
.p_circle {
  background-color: #fee7d3;
  border-radius: 50%;
  cursor: pointer;
  height: 380px;
  left: 10px;
  pointer-events: none;
  position: absolute;
  top: 210px;
  width: 380px;
}
.p_img {
  pointer-events: none;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 90%;
  transform: translate(-50%, 80%) scale(1.15);
  transform-origin: center bottom;
  transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.p_container:hover .p_img {
  transform: translate(-50%, 80%) scale(1.25);
}

.p_divider {
  background-color: #13f3ff;
  height: 1px;
  width: 160px;
}
.p_name {
  color: #0d0f17;
  font-size: 1.8rem;
  font-weight: 600;
  margin-top: 16px;
  text-align: center;
}
.p_title {
  color: #0d0f17;
  font-family: 'Orbitron', sans-serif;
  font-size: 14px;
  font-style: italic;
  margin-top: 4px;
}

.team-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  grid-auto-rows: auto;
  /* gap: 2rem; */
  justify-items: center;
  /* padding-left: 2rem;
  padding-right: 2rem; */
}

@media screen and (max-width: 900px){ 
  .p_container {
  pointer-events: none;
}
}